{% extends 'base.html' %}

{% block title %} Administrador {% endblock %}

{% block content %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/admin.css' %}">
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<!-- Container -->
<body class=" dashboard">

  <div id="container">
      <!-- Header -->
      <div id="header">
        <div id="branding">  
          <h1 id="site-name"><a href="/administrador/">Administración de Django</a></h1>
        </div>   
        <div id="user-tools">
          Bienvenido, <strong>admin</strong>.
          <a href="/">Ver el sitio</a>   
        </div>  
      </div>
      <!-- END Header -->

      <div class="main" id="main">
        <div id="content-start" class="content" tabindex="-1">
          <!-- Content -->
          <div id="content" class="colMS">
            <h1>Sitio administrativo</h1>
            
            <div id="content-main">

              <div class="app-auth module">
                <table>
                  <caption>
                    <a href="/admin/auth/" class="section" title="Modelos en la aplicación Autenticación y autorización">Autenticación y autorización</a>
                  </caption>
                  <tr class="model-user">
                    <th scope="row"><a href="/admin/auth/user/">Usuarios</a></th>
                    <td><a href="/admin/auth/user/add/" class="addlink">Añadir</a></td>
                    <td><a href="/admin/auth/user/" class="changelink">Modificar</a></td>
                  </tr> 
                </table>
              </div>
    
              <div class="app-book_reviews module">
                <table>
                  <caption>
                    <a href="/admin/book_reviews/" class="section" title="Modelos en la aplicación Book_Reviews">Book_Reviews</a>
                  </caption>
                  
                  <tr class="model-autor">
                    <th scope="row"><a href="/admin/book_reviews/autor/">Autors</a></th>
                    <td><a href="/admin/book_reviews/autor/add/" class="addlink">Añadir</a></td>
                    <td><a href="/admin/book_reviews/autor/" class="changelink">Modificar</a></td>
                  </tr>

                  <tr class="model-categoria">
                    <th scope="row"><a href="/admin/book_reviews/categoria/">Categorias</a></th>
                    <td><a href="/admin/book_reviews/categoria/add/" class="addlink">Añadir</a></td>
                    <td><a href="/admin/book_reviews/categoria/" class="changelink">Modificar</a></td>
                  </tr>
                  
                  <tr class="model-libro">
                    <th scope="row"><a href="/admin/book_reviews/libro/">Libros</a></th>
                    <td><a href="/admin/book_reviews/libro/add/" class="addlink">Añadir</a></td>
                    <td><a href="/admin/book_reviews/libro/" class="changelink">Modificar</a></td>
                  </tr>
                  
                  <tr class="model-review">
                    <th scope="row"><a href="/admin/book_reviews/review/">Reviews</a></th>
                    <td><a href="/admin/book_reviews/review/add/" class="addlink">Añadir</a></td>
                    <td><a href="/admin/book_reviews/review/" class="changelink">Modificar</a></td>
                  </tr>
                </table>
              </div>

            </div>

            <br class="clear">

          </div>
          <!-- END Content -->

        <div id="footer"></div>

      </div>

    </div>
  </div>

</body>
<!-- END Container -->
{% endblock %}