{% extends 'base.html' %}

{% block title %} Autores {% endblock %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% block content %}

{% for autor in autores %}
  <div class="autor">
    <div class="foto">
      <a href="{% url 'detalle_autor' autor_id=autor.id %}">
        <img src="{{ autor.foto }}" alt="{{ autor.nombre }}">
      </a>
    </div>
    <div class="detalles-autor">
      <h2>
        <a href="{% url 'detalle_autor' autor_id=autor.id %}">
          {{ autor.nombre }}
        </a>
      </h2>
      <p>País: {{ autor.pais }}</p>
      <p>Fecha de nacimiento: {{ autor.fecha_nacimiento }}</p>
      <p>Biografía: {{ autor.resumen }}</p>
    </div>
  </div>
{% endfor %}

{% endblock %}