{% extends 'base.html' %}

{% block title %} Categorias {% endblock %}

{% block content %}
{% if user.is_superuser %}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newCategoria">Agregar</button>

<div class="modal fade" id="newCategoria" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">Nueva Categoría</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'agregar_categoria' %}" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="categoria-name" class="col-form-label">Nombre Categoría:</label>
            <input type="text" class="form-control" id="categoria-name" name="categoria-name">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Agregar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}

<h1>Lista de Categorías</h1>
  
  <ul>
    {% for categoria in categorias %}
      <li>{{ categoria.nombre }}</li>
    {% endfor %}
  </ul>

{% endblock %}