{% extends 'base.html' %}

{% block title %} {{ libro.titulo }} {% endblock %}

{% block content %}
    <h1>{{ libro.titulo }}</h1>
    <img src="{{ libro.imagen }}" alt="{{ libro.titulo }}">
    <p>Autor: {{ libro.autor.nombre }}</p>
    <p>Descripción: {{ libro.resumen }}</p>
    <p>Valoración: {{ libro.valoracion }}</p>


    <h2>Comentarios</h2>
    <ul>
        {% for comentario in comentarios %}
            <li>{{ comentario.comentario }} - {{ comentario.usuario.username }}</li>
        {% empty %}
            <li>No hay comentarios aún.</li>
        {% endfor %}
    </ul>

{% endblock %}