{% extends 'base.html' %}

{% block title %} Successfull {% endblock %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        
        <div class="text-center">
            <h1>Cuenta creada exitosamente</h1>
            {% if user.is_authenticated %}
            <a class="btn btn-primary" href="/welcome/{{user.id}}">Home</a>
            
            <a class="btn btn-danger" href="/logout">Logout</a>
        
            {% else %}
            <a class="btn btn-primary" href="/login/">
                Log In
            </a>
            <a class="btn btn-success" href="/singup/">
                Create account
            </a>
            {% endif %}
        </div>
        
    </section>
</main>

{% endblock %}
