{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<h2>Compatibilidad de Usuarios:</h2>
<ul>
  {% for usuario, compatibilidad in resultados %}
    <li>{{ usuario }} - {{ compatibilidad }}</li>
  {% endfor %}
</ul>


{% for libro in libros_top %}
<div class="libro">
  <div class="imagen">
    <a href="{% url 'detalle_libro' libro_id=libro.id %}">
      <img src="{{ libro.imagen }}" alt="{{ libro.titulo }}">
    </a>
  </div>
  <div class="detalles">
    <h2>
      <a href="{% url 'detalle_libro' libro_id=libro.id %}">
        {{ libro.titulo }}
      </a>
    </h2>
    <p>Autor: <a href="{% url 'detalle_autor' autor_id=libro.autor.id %}">{{ libro.autor.nombre }}</a></p>
    <p>Categorías: {{ libro.categorias.all|join:", " }}</p>
    <p>Descripción: {{ libro.resumen }}</p>
    <p>Valoración: {{ libro.valoracion }}</p>
  </div>
</div>
{% endfor %}

{% endblock %}